//- muy importante para que las variables funcionen
include ../config/config

doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='icon' type='image/png' sizes='32x32' href='assets/img/favicon.ico')
        link(rel="stylesheet" href="css/styles.css")
        script(src="https://kit.fontawesome.com/1d88763075.js" crossorigin="anonymous")

        title IE José Felíx Iguaín - Intay - Luricocha
        meta(name='description' content='Institucion Educativa José Felíx Iguaín - Intay - Luricoccha niveles inicial primaria y secundaria JEC')
        meta(name='keywords' content='Colegio Intay, Colegio Intay Luricocha, IE JFI intay, colegio jec intay, educacion, primaria, secundaria, primaria, Institucion Educativa Intay')
        //- base(href='https://www.iejosefelixiguain.vercel.app/')
        link(rel='canonical' href='www.iejosefelixiguain.vercel.app/')
        meta(property='og:url' content='www.iejosefelixiguain.vercel.app/')
        meta(property='og:site_name' content='IE José Felíx Iguaín - Intay - Luricocha')

    body
        .menu-container
            .logo__menu
                label#menu-toggle.menu__show(for="checked")
                    i.fas.fa-bars
                p.logo__menu-title Menu
            ul#top-menu.top-menu.menu
                a(href="https://www.facebook.com/jose.felixiguain.39" target='_blank').face-link
                    i.face-icon.fab.fa-facebook-square

                li.menu__item: a.menu__link(href='/') inicio
                li.menu__item: a.menu__link(href='docentes.html') docentes
                li.menu__item: a.menu__link(href='estudiantes.html') estudiantes
                li.menu__item: a.menu__link(href='padres.html') padres
                li.menu__item: a.menu__link(href='documentos.html') documentos
        header#header.header
            block header
            block slider-logo

        main#main.main
            block main

        footer.footer
            block footer

        block scripts
        script(src="js/scripts-min.js")