.slider__container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;

    @include laptop{
        margin-top: 3px
    }
}



.slider{
    width: 96%;
    // height: 80%;
    overflow: hidden;
    border: 5px solid $green;
    box-shadow: $shade;
    position: relative;

    @include laptop{
        // width: 90%;
        height: 60%;
    }
}

.slides{
    height: 100%;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    background: $green;
    min-width: 100%;
    transition: 2s;
}

.slide img{
    
    width: 100%;
    height: 20rem;

    @include tablet{
        height: 37rem;
    }

    @include laptop{
        height: 47rem;
    }
}


/*css for manual slide navigation*/
.navigation-manual{
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.manual-btn{
    border: 1px solid $green;
    padding: .4rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;

    @include tablet{
        border: 2px solid $green;
        padding: .5rem;
    }

    @include laptop{
        border: 3px solid $green;
        padding: .7rem;
    }
}

.manual-btn:hover{
    background: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -100%;
}
#radio3:checked ~ .first{
    margin-left: -200%;
}

#radio4:checked ~ .first{
    margin-left: -300%;
} 


/*css for automatic navigation*/

.navigation-auto{
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.navigation-auto div{
    border: 1px solid $green;
    padding: .4rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;

    @include tablet{
        border: 2px solid $green;
        padding: .5rem;
    }

    @include laptop{
        border: 3px solid $green;
        padding: .7rem;
    }
}



#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #fff;
}
