extends ../templates/template

block header
    include ../includes/header-menu

block main
    .directorioEstudiantes

        .directorioEstudiantes__box-a
            p.directorioEstudiantes__title Directorio de cada Estudiantes
            iframe.directorioEstudiantes__iframe(src='https://script.google.com/a/ayacucho.edu.pe/macros/s/AKfycbx2ishRDLRrVMD3114XSMG8sIcapI0F56c9r5Sv8g/exec')


        .directorioEstudiantes__box-b
            .box-information
                a(href="https://docs.google.com/spreadsheets/d/1MhJ41dka4kkk_rQkV9PuHKn6v1U7H3PBlKVrolhZR6o/edit?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/archivo.svg" alt="logo documento")
                    p.information__paragraph Actualizar Directorio

                a(href="https://docs.google.com/spreadsheets/d/1gt2DJLIevyZGqOURE1nl8gOVH_zLwYptWOAwLhyG5sk/edit?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/documento.svg" alt="logo documento")
                    p.information__paragraph Directorio general de los Estudiantes

            .box-information
                a(href="https://docs.google.com/spreadsheets/d/1F9xRW1fVk51XJ7-JXZBxLMnLcXLcF8kUdbT-9r9bDc4/edit?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/documento.svg" alt="logo documento")
                    p.information__paragraph Directorio del 1ro "A"
                a(href="https://docs.google.com/spreadsheets/d/1oUheepPyh4zWDXtiWf6e18jHnTPTO_nHmI1kzSIR-sw/edit?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/documento.svg" alt="logo documento")
                    p.information__paragraph Directorio del 1ro "B"

            .box-information
                a(href="https://docs.google.com/spreadsheets/d/1qeeDtqk2Msj6QTfZ1WzGqAWXZkWyFMuKUNfwMUtPNbE/edit?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/documento.svg" alt="logo documento")
                    p.information__paragraph Directorio del 2do "A"
                a(href="https://docs.google.com/spreadsheets/d/1sEu2Ew02hsv_zQawnyGPnx8FO3GHytbQZ8JspTFD53Y/edit?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/documento.svg" alt="logo documento")
                    p.information__paragraph Directorio del 2do "B"

            .box-information
                a(href="https://docs.google.com/spreadsheets/d/1vRHI3B7Jpd2A8n64Ri5VmWhnSw6l0pyITRk8QYs53JU/edit?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/documento.svg" alt="logo documento")
                    p.information__paragraph Directorio del 3ro "A"
                a(href="https://docs.google.com/spreadsheets/d/1h0XHbwjeX4AiFbZMblrGseAsvToJuqdlH5kMC3bhvXg/edit?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/documento.svg" alt="logo documento")
                    p.information__paragraph Directorio del 3ro "B"

            .box-information
                a(href="https://docs.google.com/spreadsheets/d/1GdUVY2YbU9H1-30qakR28aOBhBMKRQnNpcsClh13NOk/edit?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/documento.svg" alt="logo documento")
                    p.information__paragraph Directorio del 4to "A"
                a(href="https://docs.google.com/spreadsheets/d/147hNOQa-x5agzdzTMXV11BApqyn5rcpVA7a8GaFZF5k/edit?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/documento.svg" alt="logo documento")
                    p.information__paragraph Directorio del 4to "B"

            .box-information
                a(href="https://docs.google.com/spreadsheets/d/1Ixsw4kb6Ypprd2XryxAlRgUIst_h7bFeCkxqWhl9AVQ/edit?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/documento.svg" alt="logo documento")
                    p.information__paragraph Directorio del 5to "A"




block footer
    include ../includes/footer
