extends ../templates/template

block header
    include ../includes/header-menu

block main
    .directorioEstudiantes

        .directorioEstudiantes__box-a
            p.directorioEstudiantes__title Directorio de cada Estudiantes
            iframe.directorioEstudiantes__iframe(src='https://script.google.com/a/ayacucho.edu.pe/macros/s/AKfycbx2ishRDLRrVMD3114XSMG8sIcapI0F56c9r5Sv8g/exec')


        .directorioEstudiantes__box-b
            .box-information
                a(href="https://drive.google.com/file/d/1ptCNjd-eIEAkqI0ArQbuYJbswcxheg4u/view?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/archivo.svg" alt="logo documento")
                    p.information__paragraph Actualizar Directorio

                a(href="https://drive.google.com/file/d/1ptCNjd-eIEAkqI0ArQbuYJbswcxheg4u/view?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/documento.svg" alt="logo documento")
                    p.information__paragraph Directorio general de los Estudiantes

            .box-information
                a(href="https://drive.google.com/file/d/1ptCNjd-eIEAkqI0ArQbuYJbswcxheg4u/view?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/documento.svg" alt="logo documento")
                    p.information__paragraph Directorio del 1ro "A"
                a(href="https://drive.google.com/file/d/1ptCNjd-eIEAkqI0ArQbuYJbswcxheg4u/view?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/documento.svg" alt="logo documento")
                    p.information__paragraph Directorio del 1ro "B"

            .box-information
                a(href="https://drive.google.com/file/d/1ptCNjd-eIEAkqI0ArQbuYJbswcxheg4u/view?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/documento.svg" alt="logo documento")
                    p.information__paragraph Directorio del 2do "A"
                a(href="https://drive.google.com/file/d/1ptCNjd-eIEAkqI0ArQbuYJbswcxheg4u/view?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/documento.svg" alt="logo documento")
                    p.information__paragraph Directorio del 2do "B"

            .box-information
                a(href="https://drive.google.com/file/d/1ptCNjd-eIEAkqI0ArQbuYJbswcxheg4u/view?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/documento.svg" alt="logo documento")
                    p.information__paragraph Directorio del 3ro "A"
                a(href="https://drive.google.com/file/d/1ptCNjd-eIEAkqI0ArQbuYJbswcxheg4u/view?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/documento.svg" alt="logo documento")
                    p.information__paragraph Directorio del 3ro "B"

            .box-information
                a(href="https://drive.google.com/file/d/1ptCNjd-eIEAkqI0ArQbuYJbswcxheg4u/view?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/documento.svg" alt="logo documento")
                    p.information__paragraph Directorio del 4to "A"
                a(href="https://drive.google.com/file/d/1ptCNjd-eIEAkqI0ArQbuYJbswcxheg4u/view?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/documento.svg" alt="logo documento")
                    p.information__paragraph Directorio del 4to "B"

            .box-information
                a(href="https://drive.google.com/file/d/1ptCNjd-eIEAkqI0ArQbuYJbswcxheg4u/view?usp=sharing" target='_blank').information
                    img.information__image(src="assets/img/general/documento.svg" alt="logo documento")
                    p.information__paragraph Directorio del 5to "A"




block footer
    include ../includes/footer
