extends ../templates/template

block header
    include ../includes/header-menu

block main
    .teaching
        h2.teaching__title Directorio del Personal de la IE
        .teaching-directory.teaching-directory-title
            p.teaching-directory__orden N°
            p.teaching-directory__name Apellido y Nombres
            p.teaching-directory__area Area a cargo
            p.teaching-directory__phone N° Celular
            p.teaching-directory__call.teaching-directory__call-title Ll
            p.teaching-directory__whatsapp.teaching-directory__whatsapp-title Wp 


block footer
    include ../includes/footer
