extends ../templates/template

block header
    include ../includes/header-menu

block main
    .section__information
        .box-container
            img(src="assets/img/general/estudiantes.svg" alt="logo estudiantes").box-container__image
            p.box-container__title Estudiantes

        .box-information
            a(href="loginevidencia.html").information
                img.information__image(src="assets/img/general/regEvidencias.svg" alt="logo registro de evidencia")
                p.information__paragraph Registro de evidencia.
            a(href="directorioDocente.html").information
                img.information__image(src="assets/img/general/regEstudiane.svg" alt="logo directorio")
                p.information__paragraph Directorio de Docentes.

        .box-information
            a(href="horario.html").information
                img.information__image(src="assets/img/general/horario.svg" alt="logo horario")
                p.information__paragraph Horario.
            a(href="tablet.html").information
                img.information__image(src="assets/img/general/tablet.svg" alt="logo tablet")
                p.information__paragraph Uso del Tablet.

        .box-information
            a(href="tecnologia.html").information
                img.information__image(src="assets/img/general/tecnologia.svg" alt="logo tecnologia")
                p.information__paragraph Herramientas Educativas.
            a(href="https://aprendoencasa.pe/").information
                img.information__image(src="assets/img/general/aprendoCasa.png" alt="logo aprendo casa")
                p.information__paragraph Aprendo en Casa.



block footer
    include ../includes/footer
