extends ../templates/template

block header
    include ../includes/header-menu

block main

    .schedule
        .schedule__container
            img.schedule__image(src="assets/img/horario/primero.jpeg" alt="logo schedule")
            p.schedule__paragraph Primero.

        .schedule__container
            img.schedule__image(src="assets/img/horario/segundo.jpeg" alt="logo schedule")
            p.schedule__paragraph Segundo.

        .schedule__container
            img.schedule__image(src="assets/img/horario/tercero.jpeg" alt="logo schedule")
            p.schedule__paragraph Tercero.

        .schedule__container
            img.schedule__image(src="assets/img/horario/cuarto.jpeg" alt="logo schedule")
            p.schedule__paragraph Cuarto.

        .schedule__container
            img.schedule__image(src="assets/img/horario/quinto.jpeg" alt="logo schedule")
            p.schedule__paragraph Quinto.



block footer
    include ../includes/footer
