extends ../templates/template

block header
    include ../includes/header-menu

block slider-logo
    include ../includes/header-slider-logo

block main
    .main-idex-portada
        .mainindex
            a(href="docentes.html").mainindex__card
                img(src="assets/img/general/docentes.svg" alt="logo docentes").mainindex__card-image
                p.mainindex__card-title Docentes

            a(href="estudiantes.html").mainindex__card
                img(src="assets/img/general/estudiantes.svg" alt="logo estudiantes").mainindex__card-image
                p.mainindex__card-title Estudiantes

            a(href="padres.html").mainindex__card
                img(src="assets/img/general/padres.svg" alt="logo padres").mainindex__card-image
                p.mainindex__card-title Padres

        .noticia-ie
            p.noticia-ie__title Comunicado
            .noticia-ie__imagen
                img(src="assets/img/noticia/noticiaa.jpg" alt="imagenes noticia")
            .noticia-ie__imagen
                img(src="assets/img/noticia/noticiab.jpg" alt="imagenes noticia")


        .contadorVisitas
            p.contadorVisitas__title Vistas en Total
            img.contadorVisitas__number(alt='contador de visitas' src='http://www.websmultimedia.com/contador-de-visitas.php?id=294610')




block footer
    include ../includes/footer

    script.
        jsOpenModal("modalAviso.html", 80)
        function jsOpenModal(url, width) {
        let divModalAviso = document.createElement("div");
        divModalAviso.className = "divModalAviso";
        divModalAviso.id = "divModalAviso";
        let divModalContenido = document.createElement("div");
        divModalContenido.className = "divModalContenido";
        divModalContenido.id = "divModalContenido";
        divModalContenido.style.width = width + "%";
        fetch(url)
        .then(function (res) {
        return res.text();
        })
        .then(function (texto) {
        document.getElementById("divModalContenido").innerHTML = texto;
        })
        document.body.appendChild(divModalAviso);
        divModalAviso.appendChild(divModalContenido);
        }
        function jsRemoveModal() {
        let divModalAviso = document.getElementById("divModalAviso");
        document.body.removeChild(divModalAviso);
        }


//- iframe.iframe_index(src='https://script.google.com/a/ayacucho.edu.pe/macros/s/AKfycbzM-vNN1sWq-qmw3AZydDvMp25-LbXX63BN76KAPw/exec')
