extends ../templates/template

block main

    .libreta
        h2.libreta__title informe de progreso del aprendizaje del estudiante – 2019

        .libreta__datos
            .libreta__datosBox
                p.libreta__datosBox-a Nombre(s)
                p.libreta__datosBox-b Carlos
            .libreta__datosBox
                p.libreta__datosBox-a Apellidos
                p.libreta__datosBox-b Tucno Vasquez
            .libreta__datosBox
                p.libreta__datosBox-a DNI
                p.libreta__datosBox-b 42769197

        .libreta__calificacion
            .calificacion__title
                p área curricular
                p compe- tencias
                p B-1
                p B-2
                p B-3
                p B-4 
                p Calif. Final de área.

            .calificacion__areas
                .calificacion__areas-title 
                    p Desarrollo Personal, Ciudadanía y Cívica
                .calificacion__box
                    .calificacion__competencias
                        p Comp-1
                        p 
                        P 
                        p 
                        p 

                    .calificacion__competencias
                        p Comp-2
                        p 
                        P 
                        p 
                        p 

                    .calificacion__competencias
                        p CALIF. DE ÁREA
                        p 
                        P 
                        p 
                        p 


            .calificacion__areas
                .calificacion__areas-title 
                    p Ciencias Sociales
                .calificacion__box
                    .calificacion__competencias
                        p Comp-1
                        p 
                        P 
                        p 
                        p 

                    .calificacion__competencias
                        p Comp-2
                        p 
                        P 
                        p 
                        p 

                    .calificacion__competencias
                        p Comp-3
                        p 
                        P 
                        p 
                        p 

                    .calificacion__competencias
                        p CALIF. DE ÁREA
                        p 
                        P 
                        p 
                        p 

            .calificacion__areas
                .calificacion__areas-title 
                    p Educación para el Trabajo
                .calificacion__box
                    .calificacion__competencias
                        p Comp-1
                        p 
                        P 
                        p 
                        p 
                    .calificacion__competencias
                        p CALIF. DE ÁREA
                        p 
                        P 
                        p 
                        p 

            .calificacion__areas
                .calificacion__areas-title 
                    p Educación Física
                .calificacion__box
                    .calificacion__competencias
                        p Comp-1
                        p 
                        P 
                        p 
                        p 

                    .calificacion__competencias
                        p Comp-2
                        p 
                        P 
                        p 
                        p 

                    .calificacion__competencias
                        p Comp-3
                        p 
                        P 
                        p 
                        p 
                    .calificacion__competencias
                        p CALIF. DE ÁREA
                        p 
                        P 
                        p 
                        p 

            .calificacion__areas
                .calificacion__areas-title 
                    p Comunicación
                .calificacion__box
                    .calificacion__competencias
                        p Comp-1
                        p 
                        P 
                        p 
                        p 

                    .calificacion__competencias
                        p Comp-2
                        p 
                        P 
                        p 
                        p 

                    .calificacion__competencias
                        p Comp-3
                        p 
                        P 
                        p 
                        p 
                    .calificacion__competencias
                        p CALIF. DE ÁREA
                        p 
                        P 
                        p 
                        p 

            .calificacion__areas
                .calificacion__areas-title 
                    p Arte y Cultura
                .calificacion__box
                    .calificacion__competencias
                        p Comp-1
                        p 
                        P 
                        p 
                        p 

                    .calificacion__competencias
                        p Comp-2
                        p 
                        P 
                        p 
                        p 
                    .calificacion__competencias
                        p CALIF. DE ÁREA
                        p 
                        P 
                        p 
                        p 

            .calificacion__areas
                .calificacion__areas-title 
                    p Inglés como lengua extranjera
                .calificacion__box
                    .calificacion__competencias
                        p Comp-1
                        p 
                        P 
                        p 
                        p 

                    .calificacion__competencias
                        p Comp-2
                        p 
                        P 
                        p 
                        p 

                    .calificacion__competencias
                        p Comp-3
                        p 
                        P 
                        p 
                        p 
                    .calificacion__competencias
                        p CALIF. DE ÁREA
                        p 
                        P 
                        p 
                        p 

            .calificacion__areas
                .calificacion__areas-title 
                    p Matemática
                .calificacion__box
                    .calificacion__competencias
                        p Comp-1
                        p 
                        P 
                        p 
                        p 

                    .calificacion__competencias
                        p Comp-2
                        p 
                        P
                        p 
                        p 

                    .calificacion__competencias
                        p Comp-3
                        p 
                        P 
                        p 
                        p 

                    .calificacion__competencias
                        p Comp-4
                        p 
                        P 
                        p 
                        p 
                    .calificacion__competencias
                        p CALIF. DE ÁREA
                        p 
                        P 
                        p 
                        p 

            .calificacion__areas
                .calificacion__areas-title 
                    p Ciencia y Tecnología
                .calificacion__box
                    .calificacion__competencias
                        p Comp-1
                        p 
                        P 
                        p 
                        p 

                    .calificacion__competencias
                        p Comp-2
                        p 
                        P 
                        p 
                        p 

                    .calificacion__competencias
                        p Comp-3
                        p 
                        P 
                        p 
                        p 
                    .calificacion__competencias
                        p CALIF. DE ÁREA
                        p 
                        P 
                        p 
                        p 

            .calificacion__areas
                .calificacion__areas-title 
                    p Educación Religiosa
                .calificacion__box
                    .calificacion__competencias
                        p Comp-1
                        p 
                        P 
                        p 
                        p 

                    .calificacion__competencias
                        p Comp-2
                        p 
                        P 
                        p 
                        p 
                    .calificacion__competencias
                        p CALIF. DE ÁREA
                        p 
                        P 
                        p 
                        p 

            .calificacion__areas
                .calificacion__areas-title 
                    p Competencias Transversales
                .calificacion__box
                    .calificacion__competencias
                        p Comp-1
                        p 
                        P 
                        p 
                        p 
                    .calificacion__competencias
                        p CALIF. DE ÁREA
                        p 
                        P 
                        p 
                        p 

                    .calificacion__competencias
                        p Comp-2
                        p 
                        P 
                        p 
                        p 
                    .calificacion__competencias
                        p CALIF. DE ÁREA
                        p 
                        P 
                        p 
                        p 

    .libretaAviso
        p.libretaAviso__title Si alguna competencia o área estas desaprobado por no presentar evidencias, contactate con el Profesor(a) para recuperar.
        p.libretaAviso__parrafo recuerda en este año 2021 de acuerdo a ley se puede repetir de año, no hay promoción automática, tus esfuerzos siempre tienen buenos resultado.

    .libretaComp 
        h2.libretaComp__titleP Competencias el Area
        .libretaComp__title
            p Desarrollo Personal, Ciudadanía y Cívica
        .libretaComp__box
            p &copy-1  Construye su identidad.
            p &copy-2 Convive y participa democráticamente en la búsqueda del bien común.

        .libretaComp__title
            p Ciencias Sociales
        .libretaComp__box
            p &copy-1  Construye interpretaciones históricas.
            p &copy-2 Gestiona responsablemente el espacio y el ambiente.
            p &copy-3 Gestiona responsablemente los recursos económicos.

        .libretaComp__title
            p Educación para el Trabajo
        .libretaComp__box
            p &copy-1 Gestiona proyectos de emprendimiento económico social.

        .libretaComp__title
            p Educación Física
        .libretaComp__box
            p &copy-1 Se desenvuelve de manera autónoma a través de su motricidad.
            p &copy-2 Asume una vida saludable.
            p &copy-3 Interactúa a través de sus habilidades sociomotrices.

        .libretaComp__title
            p Comunicación
        .libretaComp__box
            p &copy-1 Se comunica oralmente en su lengua materna.
            p &copy-2 Lee diversos tipos de textos escritos en su lengua materna.
            p &copy-3 Escribe diversos tipos de textos en su lengua materna

        .libretaComp__title
            p Arte y Cultura
        .libretaComp__box
            p &copy-1 Aprecia de manera crítica manifestaciones artístico-culturales.
            p &copy-2 Crea proyectos desde los lenguajes artísticos.

        .libretaComp__title
            p Inglés como lengua extranjera
        .libretaComp__box
            p &copy-1 Se comunica oralmente en inglés como lengua extranjera.
            p &copy-2 Lee diversos tipos de textos escritos en inglés como lengua extranjera.
            p &copy-3 Escribe diversos tipos de textos en inglés como lengua extranjera.

        .libretaComp__title
            p Matemática
        .libretaComp__box
            p &copy-1 Resuelve problemas de cantidad.
            p &copy-2 Resuelve problemas de regularidad, equivalencia y cambio.
            p &copy-3 Resuelve problemas de forma, movimiento y localización.
            p &copy-4 Resuelve problemas de gestión de datos e incertidumbre.

        .libretaComp__title
            p Ciencia y Tecnología
        .libretaComp__box
            p &copy-1 Indaga mediante métodos científicos para construir sus conocimientos.
            p &copy-2 Explica el mundo físico basándose en conocimientos sobre los seres vivos, materia y energía, biodiversidad, Tierra y universo.
            p &copy-3 Diseña y construye soluciones tecnológicas para resolver problemas de su entorno.

        .libretaComp__title
            p Educación Religiosa
        .libretaComp__box
            p &copy-1 Construye su identidad como persona humana, amada por Dios, digna libre y trascendente, comprendiendo la doctrina de su propia religión, abierto al diálogo con las que le son cercanas.
            p &copy-2 Asume la experiencia del encuentro personal y comunitario con Dios en su proyecto de vida en coherencia con su creencia religiosa.

        .libretaComp__title
            p Competencias Transversales
        .libretaComp__box
            p &copy-1 Se desenvuelven en entornos virtuales generados por las TIC.
            p &copy-2 Gestiona su aprendizaje de manera autónoma.