extends ../templates/template

block header
    include ../includes/header-menu

block main
    iframe(src='https://script.google.com/a/ayacucho.edu.pe/macros/s/AKfycbw9Dw2CYOCIbbtNRe5rSegJT35DaeKBNHqrg17_iw/exec').iframe
    //- .form-container
    //-     form(action='#').form
    //-         img(src="assets/img/general/docentes.svg" alt="logo docentes").form__logo
    //-         p.form__title Docentes
    //-         p.form__subtitle La información es solo para Docentes
    //-         .form__box
    //-             input#input1(type='email' placeholder=' ').form__input
    //-             label.form__label.form__label-a(for='email') Email

    //-         .form__box
    //-             input#input2(type='password' placeholder=' ').form__input
    //-             label.form__label.form__label-b(for='email') Contraseña

    //-         button(name='masuk').form__button Entrar





block footer
    include ../includes/footer
