extends ../templates/template

block header
    include ../includes/header-menu

block main
    .form-container
        form.form(action='https://script.google.com/macros/s/AKfycbwbmL0rDP-HifKEpYze4RzYEG0toh68re-32XaaYC4giiDQkZ1b/exec' method='get' target='_blank')
            img(src="assets/img/general/estudiantes.svg" alt="logo estudiantes").form__logo
            p.form__title Informe de progreso de los Aprendizajes
            p.form__subtitle La información es personalizada
            .form__box
                label.form__label.form__label-a(for='nombremayu') Nombre(s)
                input#nombremayu(name='INPUT_NAME' type='text').form__input
                p#error-msg2.form__error más de tres caracteres, nombre(s) completo, en mayúscula y sin tildes

            .form__box
                label.form__label.form__label-b(for='numeroDNI') N° de DNI
                input#numeroDNI(name='INPUT_DNI' type='number').form__input
                p#error-msg1.form__error el DNI tiene 8 digitos

            button.form__button Buscar





block footer
    include ../includes/footer
