extends ../templates/template

block header
    include ../includes/header-menu

block slider-logo
    include ../includes/header-slider-logo

block main
    iframe(width='560' height='315' src='https://script.google.com/macros/s/AKfycbzgviYdr-P7JSOSbjtVDYOOhGyPBkTT5cN7Hk3gwqU/dev')




block footer
    include ../includes/footer
