doctype html
head
    link(rel="stylesheet" href="css/styles.css")
    script(src="https://kit.fontawesome.com/1d88763075.js" crossorigin="anonymous")
body
    .modalBox
        //- header.modalAviso-header
        //-     h1.modalAviso-header-title COMUNICADO
        main.modalAviso-contenido
            img.modalAviso-contenido-img(src='assets/img/modalAviso.jpg' alt='imagen modal aviso')
    .modalAviso-close
        button.modalAviso-close-x(onclick='jsRemoveModal()') Cerrar
