extends ../templates/template

block header
    include ../includes/header-menu

block main

    .meeting
        a(href="").meeting__container
            img.meeting__image(src="assets/img/general/meeting.svg" alt="logo meeting")
            p.meeting__paragraph Reunion General.

        a(href="").meeting__container
            img.meeting__image(src="assets/img/general/meeting.svg" alt="logo meeting")
            p.meeting__paragraph Reunion Coodinación de Letras.

        a(href="").meeting__container
            img.meeting__image(src="assets/img/general/meeting.svg" alt="logo meeting")
            p.meeting__paragraph Reunion Coodinación de Ciencias.

        a(href="").meeting__container
            img.meeting__image(src="assets/img/general/meeting.svg" alt="logo meeting")
            p.meeting__paragraph Reunion Coodinación de TOE.



block footer
    include ../includes/footer
