extends ../templates/template

block header
    include ../includes/header-menu

block main
    .section__tablet
        section#email.tablet
            a.tablet__btn(href='#email') Email y Contraseña
            .tablet__smenu
                iframe.tablet__video(frameborder='0' src='https://drive.google.com/file/d/19HRtoxos2EVpsdmBI8MBiqkqqAz3UUzn/preview')


        section#instalar.tablet
            a.tablet__btn(href='#instalar') Instalar aplicación
            .tablet__smenu
                iframe.tablet__video(frameborder='0' src='https://drive.google.com/file/d/19HRtoxos2EVpsdmBI8MBiqkqqAz3UUzn/preview')



block footer
    include ../includes/footer
