extends ../templates/template

block header
    include ../includes/header-menu

block main
    .section__tablet
        section#email.tablet
            a.tablet__btn(href='#email') Email y Contraseña
            .tablet__smenu
                iframe.tablet__video(src='https://drive.google.com/file/d/1MIdK6NbXplZ_pgNgRL86zw5a6F6VaV0J/preview' allowfullscreen='1' frameborder='0')


        section#reestablecer.tablet
            a.tablet__btn(href='#reestablecer') Reestablecer Play Story
            .tablet__smenu
                iframe.tablet__video(src='https://drive.google.com/file/d/1dp1_gmSwlDfEd__rTTxJRRZc4LxXRhrB/preview' allowfullscreen='1' frameborder='0')

        section#instalar.tablet
            a.tablet__btn(href='#instalar') Instalar Aplicaciones (WhatsApp)
            .tablet__smenu
                iframe.tablet__video(src='https://drive.google.com/file/d/1kjJbwgd3H5Uvx89Q6gHQZGGQ3j55P2xV/preview' allowfullscreen='1' frameborder='0')

        section#ahorrar.tablet
            a.tablet__btn(href='#ahorrar') Ahorrar datos (Internet)
            .tablet__smenu
                iframe.tablet__video(src='https://drive.google.com/file/d/1oy-V5lBkq8VEkMXTVqHxNds6B1fcP7pK/preview' allowfullscreen='1' frameborder='0')

        section#aecasa.tablet
            a.tablet__btn(href='#aecasa') Aplicación Aprendo en Casa
            .tablet__smenu
                iframe.tablet__video(src='https://drive.google.com/file/d/1vAKr2D8UC65Dqf4YT_zYT9hYhGqJGSd3/preview' allowfullscreen='1' frameborder='0')

        section#compwifi.tablet
            a.tablet__btn(href='#compwifi') Compartir Datos (Wifi)
            .tablet__smenu
                iframe.tablet__video(src='https://drive.google.com/file/d/1s0z9-v1M0M_K7YbXnzyH-8Ym5y-MA-YR/preview' allowfullscreen='1' frameborder='0')

        section#enviararchivo.tablet
            a.tablet__btn(href='#enviararchivo') Enviar archivos a la Tablet
            .tablet__smenu
                iframe.tablet__video(src='https://drive.google.com/file/d/18IWucZoY45I3fPklUUBlnHdQvyljXzOt/preview' allowfullscreen='1' frameborder='0')




block footer
    include ../includes/footer
