p.footer__contacto Contacto
.footer__info-container
    .footer__direccion
        .footer__home
            i.fas.fa-home
            p DIRECCION: Av Ch. Iraoka S/N - Intay
    .footer__telefono
        .footer__numero
            i.fas.fa-phone-alt
            p Director 913657733
//- p.footer__dev Web developer : Carlos Tucno Vasquez
a(href="https://carlostucno.vercel.app/").footer__dev Web developer : Carlos Tucno Vasquez