.headboard
    img.headboard__insignia(src="assets/img/general/insignia.png" alt="logo de la institucion")
    .headboard__info
        h2.headboard__subtitle Institución Educativa
        h1.headboard__title "José Félix Iguaín"
        h2.headboard__subtitle Luricocha - Intay
    img.headboard__jec(src="assets/img/general/logo_jec.png" alt="logo jec")


//- MENU DE LOS TIPOS DE MUEBLES CON FINCION VARIABLE ../config/config PARA AGREGAR MAS ..
.menu-container
    .logo__menu
        label#menu-toggle.menu__show(for="checked")
            i.fas.fa-bars
        p.logo__menu-title Menu
    ul#top-menu.top-menu.menu
        a(href="https://www.facebook.com/jose.felixiguain.39" target='_blank').face-link
            i.face-icon.fab.fa-facebook-square

        li.menu__item: a.menu__link(href='/') inicio
        li.menu__item: a.menu__link(href='docentes.html') docentes
        li.menu__item: a.menu__link(href='estudiantes.html') estudiantes
        li.menu__item: a.menu__link(href='padres.html') padres
        li.menu__item: a.menu__link(href='documentos.html') documentos